.sonata-bc .wrapper aside div.slimScrollDiv section.sidebar p a{display:none;}

.form-control{background-color:#FFFFFF;}

#forum_sujet [type=checkbox]:checked, #forum_sujet [type=checkbox]:not(:checked){left:0px}
#forum_sujet .checkbox input[type=checkbox], #forum_sujet .checkbox-inline input[type=checkbox], #forum_sujet .radio input[type=radio], #forum_sujet .radio-inline input[type=radio]{margin-left:0px;}

