.floatright {
  float: right;
}
.floatleft {
  float: left;
}
#login {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F0F2F5;
  color: #747C83;
}
#login .logo {
  margin-bottom: 35px;
}
#login input:-webkit-autofill {
  -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05), 0 0 0 1000px white inset !important;
}
#login h2 {
  color: #424A50;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0px;
}
#login .forget {
  color: #747C83;
  margin-top: 10px;
  display: inline-block;
  font-style: italic;
}
#login [type=checkbox]:checked + label:before,
#login [type=checkbox]:not(:checked) + label:before {
  top: 3px;
}
#login .form-signin {
  max-width: 335px;
  padding: 35px;
  float: none !important;
  margin: 0 auto;
}
#login .form-signin .form-signin-heading,
#login .form-signin .checkbox {
  margin-bottom: 25px;
}
#login .form-signin .checkbox {
  font-weight: normal;
  text-align: left;
}
#login .form-signin .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
#login .form-signin .form-control:focus {
  z-index: 2;
}
#login .form-signin input[type="email"],
#login .form-signin input[type="password"] {
  background-color: #FFF;
  border: 1px solid #E2E4E7;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05);
  font-size: 15px;
}
#login .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#login .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#login .btn-block {
  background: #27AE60;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
}
#login .btn-block:hover {
  background: #2cc36b;
}
/* Checkboxes */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  /* permet de positionner les pseudo-éléments */
  padding-left: 20px;
  /* fait un peu d'espace pour notre case à venir */
  cursor: pointer;
  /* affiche un curseur adapté */
}
/* Aspect des checkboxes */
/* :before sert à créer la case à cocher */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 14px;
  height: 14px;
  border: 1px solid #AFB7BF;
  background: #FFF;
  border-radius: 2px;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  /* box-shadow: inset 0 1px 3px rgba(0,0,0,.3); */
}
[type="checkbox"]:not(:checked) + label:hover:before,
[type="checkbox"]:checked + label:hover:before {
  border-color: #27AE60;
}
/* Aspect général de la coche */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  top: 9px;
  left: 3px;
  font-size: 14px;
  background: #27AE60;
  -webkit-transition: all .2s;
  transition: all .2s;
  /* on prévoit une animation */
}
/* Aspect si "pas cochée" */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  /* coche invisible */
}
/* Aspect si "cochée" */
[type="checkbox"]:checked + label:after {
  opacity: 1;
  /* coche opaque */
}
[type="checkbox"]:checked + label:before {
  border-color: #27AE60;
}
/* aspect désactivée */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #BBB;
  background-color: #DDD;
}
/* styles de la coche (si cochée/désactivée) */
[type="checkbox"]:disabled:checked + label:after {
  background: #F0F2F5;
}
/* on style aussi le label quand désactivé */
[type="checkbox"]:disabled + label {
  background: #F0F2F5;
}
/* aspect au focus de l'élément */
/************/
* {
  font-family: "proxima-nova-soft", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none !important;
}
.clear {
  clear: both;
}
a {
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
}
a:active,
a:focus {
  text-decoration: none;
}
body {
  background: #F0F2F5;
}
header {
  background: #FFF;
  border-bottom: 3px solid #E2E4E7;
  height: 130px;
}
header .logo {
  margin-top: 40px;
}
header .menu {
  text-align: right;
}
header .menu a {
  margin-top: 30px;
  text-align: center;
  color: #FFF;
  font-size: 15px;
  font-weight: bold;
  background: #8344A3;
  height: 65px;
  margin-left: 10px;
  display: inline-block;
  padding: 38px 15px 0 15px;
  border-radius: 4px;
  min-width: 80px;
}
header .menu a.formations {
  background: url(../images/icon-formations.png) no-repeat center 8px #8344A3;
}
header .menu a.bibliotheque {
  background: url(../images/icon-biblio.png) no-repeat center 8px #8344A3;
}
header .menu a.forum {
  background: url(../images/icon-forum.png) no-repeat center 8px #8344A3;
}
header .menu a.blog {
  background: url(../images/icon-blog.png) no-repeat center 8px #8344A3;
}
header .menu a:last-child {
  margin-right: 25px;
}
header .menu a:hover {
  text-decoration: none;
  background-color: #914cb4;
}
header .containerTabAccount {
  padding-right: 15px;
  padding-left: 15px;
}
header .TabAccount {
  float: right;
  height: 130px;
  background: #E2E4E7;
  padding: 0 20px;
  text-align: center;
  color: #53616D;
  border-bottom: 3px solid #CDD0D5;
}
header .TabAccount .avatar {
  display: block;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 15px;
}
header .TabAccount strong {
  font-size: 15px;
  font-weight: bold;
}
header .TabAccount .actions {
  background: #FFF;
  border-radius: 4px;
  padding: 3px 8px;
  color: #747C83;
  font-size: 13px;
  margin-top: 5px;
  display: block;
}
header .TabAccount .actions a {
  color: #747C83;
}
header .TabAccount .actions a:hover {
  color: #53616D;
}
.helper-center {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#content {
  margin-top: 60px;
}
#content h1 {
  color: #424A50;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
#content h1.title {
  margin-top: 0;
}
#content p.desc {
  color: #747C83;
  font-size: 17px;
  line-height: 28px;
}
#content .btntopright {
  color: #757D83;
  border: 2px solid #757D83;
  font-size: 15px;
  font-weight: 700;
  border-radius: 4px;
  padding: 11px 15px 0px 45px;
  position: absolute;
  height: 40px;
  right: 15px;
  top: -7px;
  line-height: 1;
}
#content .btntopright.btntopright-second {
  right: 260px;
}
#content .btntopright.formations {
  background: url(../images/icon-formations-small.png) no-repeat 12px center;
}
#content .btntopright:hover {
  background-color: rgba(179, 187, 198, 0.15);
  text-decoration: none;
}
#content .filterstop a {
  color: #FFF;
  height: 40px;
  line-height: 40px;
  background: #B3BBC6;
  padding: 0 15px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 20px;
}
#content .filterstop a .nomargin {
  margin-right: 0;
}
#content .filterstop a.right {
  float: right;
}
#content .filterstop a.favoris {
  background: #EE8036;
  margin-right: 0;
}
#content .filterstop a.favoris span {
  background: #de6513;
}
#content .filterstop a.favoris:hover,
#content .filterstop a.favoris.active {
  background: #FF7F29 !important;
}
#content .filterstop a.favoris:hover span,
#content .filterstop a.favoris.active span {
  background: #D45B0A !important;
}
#content .filterstop a span {
  background: #96a1b0;
  font-size: 13px;
  border-radius: 99px;
  padding: 2px 4px;
  margin-left: 1px;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
}
#content .filterstop a:hover {
  background: #96a1b0;
  text-decoration: none;
}
#content .filterstop a:hover span {
  background: #606d80;
}
#content .filterstop a.active {
  background: #8344A3;
}
#content .filterstop a.active span {
  background: #66357f;
}
#content .filterstop a.active:hover {
  cursor: default;
  background: #8344A3;
}
#content .filterstop a.createnew {
  background: #27AE60;
}
#content .filterstop a.createnew:hover {
  background: #2cc36b;
}
#content .filterstop a.createnew img {
  position: relative;
  top: -1px;
}
.box-white {
  float: left;
  width: 100%;
  padding: 40px 25px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(1, 1, 1, 0.06);
  margin-bottom: 20px;
}
.box-white.smallPad {
  padding: 15px 25px 30px 25px;
}
.dashboard-formation .une-formation .icon {
  position: relative;
}
.dashboard-formation .une-formation .content {
  /* &:before{
         content: "";
         z-index: 0;
         background: #f0f2f5;
         width: 4px;
         height: 100%;
         display: block;
         position: absolute;
         left: -70px;
       }*/
}
.dashboard-formation .une-formation h2 {
  color: #424A50;
  font-size: 26px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
}
.dashboard-formation .une-formation .logiciel {
  color: #29569A;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 15px;
  display: block;
}
.dashboard-formation .une-formation p {
  color: #747C83;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}
.dashboard-formation .une-formation .actions {
  float: left;
  width: 95%;
  margin-top: 40px;
}
.dashboard-formation .une-formation .actions .steps {
  float: left;
  margin-bottom: 25px;
  background: rgba(240, 242, 245, 0.5);
  border-radius: 10px;
  padding: 15px 0;
  box-shadow: 0 3px 10px -7px #000000;
}
.dashboard-formation .une-formation .actions .steps:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #e6e9ed;
  top: 15px;
  position: relative;
  z-index: 0;
}
.dashboard-formation .une-formation .actions .steps a {
  float: left;
  width: 25%;
  text-align: center;
  color: #747C83;
  z-index: 1;
  position: relative;
  padding: 0 10px;
}
.dashboard-formation .une-formation .actions .steps a span {
  display: inline-block;
  margin: auto;
  text-align: center;
  font-size: 16px;
  background: #e6e9ed;
  height: 30px;
  font-weight: bold;
  width: 30px;
  border-radius: 50%;
  line-height: 30px;
  color: #8893a0;
  text-shadow: 0 1px 0 #FFF;
  margin-bottom: 10px;
}
.dashboard-formation .une-formation .actions .steps a.passed span {
  background: #27AE60;
  color: #FFF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.dashboard-formation .une-formation .actions .steps a.current span {
  background: #EE8036;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  color: #FFF;
}
.dashboard-formation .une-formation .actions .go {
  float: left;
  background-color: #27AE60;
  border-radius: 4px;
  height: 40px;
  overflow: hidden;
  margin-right: 30px;
}
.dashboard-formation .une-formation .actions .go span.icon {
  height: 40px;
  float: left;
  background: url(../images/goplay.png) no-repeat center center #229955;
  width: 38px;
}
.dashboard-formation .une-formation .actions .go span.text {
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  float: left;
  line-height: 40px;
  padding: 0 15px;
}
.dashboard-formation .une-formation .actions .go span {
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
}
.dashboard-formation .une-formation .actions .go:hover span.icon {
  background-color: #27AE60;
}
.dashboard-formation .une-formation .actions .go:hover span.text {
  background-color: #2cc36b;
}
.dashboard-formation .une-formation .actions .stats,
.dashboard-formation .une-formation .actions .contact {
  float: left;
  color: #747C83;
  font-size: 16px;
  padding-left: 20px;
  margin-top: 8px;
  margin-right: 20px;
}
.dashboard-formation .une-formation .actions .contact {
  background: url(../images/icon-contact.png) center left no-repeat;
}
.dashboard-formation .une-formation .actions .stats {
  background: url(../images/icon-stats.png) center left no-repeat;
}
.dashboard-formation .formationAlaUne {
  text-align: center;
}
.dashboard-formation .formationAlaUne h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #424A50;
}
.dashboard-formation .formationAlaUne h3 .glyphicon {
  font-size: 17px;
  color: #E74C3C;
}
.dashboard-formation .formationAlaUne h2 {
  font-size: 20px;
  line-height: 20px;
}
.dashboard-formation .formationAlaUne .icon {
  margin: auto;
  margin-bottom: 20px;
  display: block;
}
.dashboard-formation .formationAlaUne .actions {
  width: 40%;
  float: left;
  margin: 0;
}
.dashboard-formation .formationAlaUne .actions .go {
  margin-right: 0;
  float: left;
}
.dashboard-formation .formationAlaUne .levels {
  width: 100%;
  float: left;
  margin-top: -10px;
}
.dashboard-formation .formationAlaUne .levels .niveau {
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  display: block;
  color: #747C83;
}
.dashboard-formation .formationAlaUne .levels .niveau .icon {
  top: 10px;
  height: 35px;
  width: 35px;
  display: inline-block;
  margin: 0;
  border-radius: 99px;
  margin-right: 10px;
}
.dashboard-formation .formationAlaUne .levels .niveau .icon.debutant {
  background: url(../images/icon-niveau.png) no-repeat center center #27AE60;
}
.dashboard-formation .formationAlaUne .levels .niveau .icon.intermediaire {
  background: url(../images/icon-niveau.png) no-repeat center center #EE8036;
}
.dashboard-formation .formationAlaUne .levels .niveau .icon.expert {
  background: url(../images/icon-niveau.png) no-repeat center center #E74C3C;
}
.levels .jaugeContainer {
  padding-right: 30px;
  padding-left: 0;
}
.levels strong {
  color: #747C83;
  font-size: 16px;
  font-weight: 600;
  line-height: 35px;
  display: block;
}
.levels .jauge {
  background: #E6E9ED;
  border-radius: 99px;
  width: 100%;
  float: left;
  display: block;
  height: 25px;
}
.levels .remplir {
  min-width: 40px;
  border-radius: 99px;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  height: 25px;
  float: left;
  line-height: 25px;
  width: 35%;
  padding-right: 10px;
}
.levels .avancement .remplir {
  background: #8344A3;
}
.levels .niveau .remplir.debutant {
  width: 33%;
  background: #27AE60;
}
.levels .niveau .remplir.intermediaire {
  width: 66%;
  background: #EE8036;
}
.levels .niveau .remplir.expert {
  width: 100%;
  background: #E74C3C;
}
.nopad {
  padding: 0;
}
footer {
  margin-top: 70px;
  background: #475563;
  text-align: center;
  color: #DDE2E6;
  font-size: 14px;
  line-height: 22px;
  padding: 40px 0;
}
footer .logo {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
footer a {
  color: #DDE2E6;
}
footer a:hover {
  color: #FFF;
  text-decoration: none;
}
.containerBiblio {
  padding: 0px 15px;
  overflow: hidden;
}
.containerBiblio .content {
  padding-right: 0;
}
.containerBiblio .item {
  position: relative;
  padding: 20px 0;
  float: left;
  width: 100%;
  border-bottom: 1px solid #F0F2F5;
}
.containerBiblio .item:last-child {
  border-bottom: none;
}
.containerBiblio .item.byuser {
  box-shadow: -15px 0 0 #E9F9FF, 15px 0 0 #E9F9FF, 0 -1px 0 #FFF;
  background: #E9F9FF;
  border: none;
}
.containerBiblio .item.byuser .dateauthor a {
  color: #03A9F4;
}
.containerBiblio .item.byuser .dateauthor a img {
  position: relative;
  top: -1px;
  margin-right: 1px;
}
.containerBiblio .item.byuser .tags a {
  color: #778C96;
  background: #CCDFE6;
}
.containerBiblio .item .tags a {
  color: #878F96;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  border-radius: 4px;
  padding: 2px 5px;
  background: #E7E9EC;
  margin-right: 2px;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
}
.containerBiblio .item .tags a img {
  margin-right: 2px;
}
.containerBiblio .item .tags a:hover {
  box-shadow: 0 0px 0 20px rgba(0, 0, 0, 0.05) inset;
  text-decoration: none;
}
.containerBiblio .item h2 {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #424A50;
  margin: 0;
  margin-bottom: 4px;
}
.containerBiblio .item h2 a {
  font-size: 14px;
  border-radius: 4px;
  padding: 0 8px;
  line-height: 20px;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: -1px;
  text-decoration: none;
}
.containerBiblio .item h2 a img {
  margin-right: 3px;
}
.containerBiblio .item h2 strong {
  color: #8344A3;
}
.containerBiblio .item p {
  color: #747C83;
  font-size: 15px;
  line-height: 20px;
}
.containerBiblio .item .infos {
  text-align: center;
  color: #747C83;
  font-size: 15px;
  font-weight: bold;
  margin-top: 25px;
}
.containerBiblio .item .infos a {
  color: #747C83;
  display: block;
}
.containerBiblio .item .infos a:hover {
  text-decoration: none;
}
.containerBiblio .item .infos .icon {
  height: 35px;
  width: 35px;
  display: block;
  border-radius: 999px;
  margin: auto;
  margin-bottom: 10px;
}
.containerBiblio .item .infos .download .icon {
  background: url(../images/download.png) no-repeat center center;
  border: 3px solid #8344A3;
}
.containerBiblio .item .infos .download:hover {
  color: #8344A3;
}
.containerBiblio .item .infos .niveau .icon {
  background: url(../images/icon-niveau.png) no-repeat center center;
  background-color: #27AE60;
}
.containerBiblio .item .infos .niveau .icon.intermediaire {
  background-color: #EE8036;
}
.containerBiblio .item .infos .niveau .icon.expert {
  background-color: #E74C3C;
}
.containerBiblio .item .addFav {
  background: url(../images/star.png) no-repeat 37px 0;
  height: 63px;
  width: 63px;
  position: absolute;
  top: 0;
  right: -15px;
}
.containerBiblio .item .addFav.inFav,
.containerBiblio .item .addFav.inFav:hover {
  background-position: 100% 0;
}
.containerBiblio .item .addFav:hover {
  background-position: -76px 0;
}
.containerBiblio .reponses {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  background: #B3BBC6;
  border-radius: 4px;
  padding: 0;
  line-height: 16px;
  font-weight: 700;
  height: 45px;
}
.containerBiblio .reponses.resolu {
  background: #27AE60;
}
.containerBiblio .reponses strong {
  font-size: 25px;
  display: block;
  margin-top: 9px;
}
.containerBiblio .dateauthor {
  color: #747C83;
  font-size: 13px;
  text-align: right;
  margin-right: 20px;
  margin-top: -20px;
  position: relative;
  float: right;
  width: 35%;
}
.containerBiblio .dateauthor a {
  color: #424A50;
}
.filtres {
  margin-top: 90px;
}
.filtres ::-moz-selection {
  background: #FFF;
}
.filtres ::selection {
  background: #FFF;
}
.filtres div[class^="by-"] {
  padding: 20px 25px;
}
.filtres .search {
  padding: 10px;
}
.filtres .search form {
  position: relative;
}
.filtres .search .searchQ {
  background-color: #FFF;
  border: 1px solid #E2E4E7;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05);
  font-size: 15px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  border-radius: 4px;
  padding-right: 50px;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  color: #747C83;
}
.filtres .search .searchQ:active,
.filtres .search .searchQ:focus {
  border-color: #27AE60;
}
.filtres .search .submit {
  background: url(../images/icon-search.png) no-repeat center center #27AE60;
  border-radius: 0 4px 4px 0;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
}
.filtres .search .submit:hover {
  background-color: #2cc36b;
}
.filtres strong.title {
  color: #424A50;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}
.filtres label {
  color: #747C83;
  font-weight: 400;
  font-size: 15px;
  display: block;
  margin: 0;
  line-height: 26px;
}
.filtres label img {
  float: right;
  margin-top: 6px;
  max-height: 15px;
}
.filtres .mainCheck {
  border-bottom: 1px solid #F0F2F5;
  padding-bottom: 5px;
}
.filtres .sousCheck {
  padding-top: 8px;
}
.filtres .sousCheck label {
  margin-left: 20px;
}
.filtres .sousCheck label img {
  margin-top: 7px;
  max-height: 12px;
}
.filtres .by-Version .versions a {
  color: #B6BAC0;
  font-size: 13px;
  height: 21px;
  display: block;
  float: left;
  line-height: 20px;
  border: 1px solid #D0D4DB;
  border-radius: 2px;
  padding: 0 5px;
  padding-bottom: 1px;
  margin-top: 5px;
  margin-right: 5px;
}
.filtres .by-Version .versions a:hover {
  background: #D0D4DB;
  color: #FFF;
  text-decoration: none;
}
.filtres .by-Version .versions a.selected,
.filtres .by-Version .versions a.selected:hover {
  background: #27AE60;
  color: #FFF;
  border-color: #27AE60;
}
.filtres .by-Difficulte .icon {
  background: url(../images/icon-niveau.png) no-repeat center center;
  height: 18px;
  width: 18px;
  float: right;
  margin-top: 7px;
  background-size: 8px;
  border-radius: 99px;
}
.filtres .by-Difficulte .icon.Debutant {
  background-color: #27AE60;
}
.filtres .by-Difficulte .icon.Intermediaire {
  background-color: #EE8036;
}
.filtres .by-Difficulte .icon.Expert {
  background-color: #E74C3C;
}
.filtres .save {
  margin-bottom: 10px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  height: 45px;
  display: block;
  line-height: 45px;
  width: 100%;
  background: #27AE60;
  border-radius: 4px;
}
.filtres .save:hover {
  background: #2cc36b;
  text-decoration: none;
}
.filtres .save .icon {
  background: url(../images/save.png) no-repeat center center;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-right: 5px;
  top: 2px;
  position: relative;
}
.filtres .reset {
  text-align: center;
  color: #747C83;
  font-size: 16px;
  font-weight: 700;
  height: 45px;
  display: block;
  line-height: 45px;
  width: 100%;
  background: transparent;
}
.filtres .reset:hover {
  /*border-color: rgba(109, 116, 123, 0.2);
      text-decoration: none;*/
}
.filtres .reset .icon {
  background: url(../images/reset.png) no-repeat center center;
  height: 15px;
  width: 19px;
  display: inline-block;
  margin-right: 10px;
  top: 2px;
  position: relative;
}
.pagination {
  text-align: center;
  width: 100%;
  float: left;
}
.pagination a {
  display: inline-block;
  text-decoration: none;
}
.pagination .prec,
.pagination .suiv {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background: #B3BBC6;
  border-radius: 99px;
  text-align: center;
  line-height: 23px;
  min-width: 23px;
  margin: 0 2px;
  padding: 0 8px;
}
.pagination .prec:hover,
.pagination .suiv:hover {
  background: #8344A3;
}
.pagination .pagenb {
  font-size: 15px;
  color: #747C83;
  border-radius: 99px;
  text-align: center;
  line-height: 23px;
  min-width: 23px;
  margin: 0 2px;
}
.pagination .pagenb:hover {
  background: rgba(179, 187, 198, 0.3);
}
.pagination .pagenb.current {
  background: #EE8036;
  font-weight: bold;
  color: #FFF;
}
#login #stickyRight {
  display: none;
}
#stickyRight {
  position: fixed;
  top: 18vh;
  right: 0;
  display: block;
  width: 50px;
  overflow: visible;
  z-index: 8;
}
#stickyRight #toolbox {
  -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  /* easeOutQuart */
  position: relative;
  right: 0;
  height: 200px;
  width: 900px;
  padding: 0;
}
#stickyRight #toolbox:hover {
  -webkit-transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
  /* easeOutQuart */
}
#stickyRight #toolbox .title {
  background: #EE8036;
  float: left;
  height: 100%;
  width: 50px;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 2px 0 rgba(1, 1, 1, 0.06);
}
#stickyRight #toolbox .title #notifications {
  background: #E74C3C;
  color: #FFF;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  position: absolute;
  border: 2px solid #FFF;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.15);
  left: -15px;
  top: -15px;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
#stickyRight #toolbox p {
  -webkit-transform: rotate(-90deg) translate(-50%, 0) translateZ(0) scale(1, 1);
          transform: rotate(-90deg) translate(-50%, 0) translateZ(0) scale(1, 1);
  -webkit-transform-origin: 27px center;
          transform-origin: 27px center;
  display: block;
  text-indent: -108px;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
  margin: 0;
}
#stickyRight #toolbox p img {
  position: relative;
  top: -3px;
  left: -3px;
}
#stickyRight #toolbox .content {
  background: #FFF;
  text-align: center;
  float: left;
  width: 850px;
  height: 100%;
  color: #747C83;
  font-size: 16px;
  line-height: 26px;
}
#stickyRight #toolbox .content strong {
  color: #424A50;
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
  margin-top: 45px;
}
#stickyRight #toolbox .content .list {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 95%;
  padding: 0;
  overflow: scroll;
  height: 100%;
  direction: rtl;
}
#stickyRight #toolbox .content .list .notificationPoint {
  background: #E74C3C;
  color: #FFF;
  height: 12px;
  width: 12px;
  font-size: 11px;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  font-weight: 700;
  position: relative;
  display: block;
  float: left;
  border: 2px solid #FFF;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  margin-right: 5px;
}
#stickyRight #toolbox .content .list ul {
  direction: ltr;
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  width: 100%;
}
#stickyRight #toolbox .content .list ul li {
  position: relative;
  overflow: hidden;
  text-align: left;
  float: left;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #E8E8E8;
  line-height: 16px;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
}
#stickyRight #toolbox .content .list ul li:hover {
  background: rgba(179, 187, 198, 0.1);
}
#stickyRight #toolbox .content .list ul li .iconContainer {
  float: left;
  margin-right: 15px;
  position: relative;
}
#stickyRight #toolbox .content .list ul li .iconContainer .icon {
  max-width: 30px;
  max-height: 30px;
}
#stickyRight #toolbox .content .list ul li .iconContainer .notificationPoint {
  background: #E74C3C;
  color: #FFF;
  height: 12px;
  width: 12px;
  font-size: 11px;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  border: 2px solid #FFF;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  top: -3px;
  left: -3px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
#stickyRight #toolbox .content .list ul li strong {
  margin: 0;
  font-size: 15px;
  padding-right: 10px;
}
#stickyRight #toolbox .content .list ul li span {
  font-size: 13px;
}
#stickyRight #toolbox .content .list ul li .titleContainer {
  float: left;
}
#stickyRight #toolbox .content .list ul li .delete {
  background-color: transparent;
  border: 1px solid #B3BBC6;
  border-right: none;
  float: right;
  color: #B3BBC6;
  height: 100%;
  width: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  border-radius: 5px 0px 0px 5px;
  margin-left: 10px;
  margin-right: -20px;
  position: relative;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
}
#stickyRight #toolbox .content .list ul li .delete:hover {
  cursor: pointer;
  background: #E74C3C;
  border-color: #E74C3C;
  color: #FFF;
}
#stickyRight #toolbox .content .list ul li .tempspasse {
  float: right;
  border-left: 1px solid #E8E8E8;
  padding-left: 10px;
  height: 100%;
  font-size: 13px;
  display: block;
}
#stickyRight #toolbox .content .list ul li .download {
  background: url(../images/download.png) no-repeat center center;
  border: 2px solid #8344A3;
  height: 32px;
  border-radius: 99px;
  width: 32px;
  display: block;
}
#stickyRight #toolbox .content .list ul li .avancementContainer {
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  padding: 0 10px;
  margin: 0 10px;
  float: right;
}
#stickyRight #toolbox .content .list ul li .avancementContainer .avancement {
  background: transparent;
  border: 2px solid #8344A3;
  color: #8344A3;
  display: block;
  height: 32px;
  border-radius: 99px;
  width: 32px;
  line-height: 30px;
  font-size: 10px !important;
  font-weight: bold;
  text-align: center;
  float: right;
}
#stickyRight #toolbox .content .list ul li .avancementContainer .avancement.complete {
  border-color: #8344A3;
  color: #FFF;
  background: #8344A3;
}
#stickyRight #toolbox .content .list ul li .avancementContainer .avancement.search {
  background: url(../images/icon-search.png) no-repeat center center #27AE60;
  background-size: 12px;
}
#stickyRight #toolbox .content .list ul li .avancementContainer .avancement.forum {
  color: #FFF;
  border-color: #27AE60;
  font-size: 14px !important;
  background: #B3BBC6;
}
#stickyRight #toolbox .content .list ul li .avancementContainer .avancement.forum.ok {
  background: #27AE60;
}
#stickyRight #toolbox .content .list ul li .niveau {
  border-right: 1px solid #E8E8E8;
  padding-right: 10px;
  float: right;
}
#stickyRight #toolbox .content .list ul li .niveau .icon {
  height: 32px;
  border-radius: 99px;
  width: 32px;
  line-height: 30px;
  display: block;
  background: url(../images/icon-niveau.png) no-repeat center center;
  background-color: #27AE60;
}
#stickyRight #toolbox .content .list ul li .niveau .icon.intermediaire {
  background-color: #EE8036;
}
#stickyRight #toolbox .content .list ul li .niveau .icon.expert {
  background-color: #E74C3C;
}
#stickyRight #toolbox .content .list.current {
  display: block;
}
#stickyRight #toolbox .content .sidebar {
  float: left;
  width: 5%;
  height: 100%;
  background: #27AE60;
  box-shadow: 2px 0 0 rgba(0, 0, 0, 0.1) inset;
}
#stickyRight #toolbox .content .sidebar a {
  position: relative;
  display: block;
  height: 25%;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  background: url(../images/icon-formations.png) no-repeat center center;
}
#stickyRight #toolbox .content .sidebar a.fav-formation {
  background-image: url(../images/icon-formations.png);
  background-size: 22px;
}
#stickyRight #toolbox .content .sidebar a.fav-biblio {
  background-image: url(../images/icon-biblio.png);
  background-size: 17px;
}
#stickyRight #toolbox .content .sidebar a.fav-forum {
  background-image: url(../images/icon-forum.png);
  background-size: 21px;
}
#stickyRight #toolbox .content .sidebar a.fav-recherche {
  background-image: url(../images/icon-search.png);
  background-size: 15px;
}
#stickyRight #toolbox .content .sidebar a.current {
  background-color: #229955;
}
#stickyRight #toolbox .content .sidebar a.current:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #229955;
  position: absolute;
  right: -8px;
  top: 50%;
  margin-top: -8px;
}
#stickyRight #toolbox .content .sidebar a .notifications {
  background: #E74C3C;
  color: #FFF;
  height: 20px;
  width: 20px;
  font-size: 11px;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  border: 2px solid #FFF;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  left: 50%;
  margin-left: -9px;
  margin-top: -25px;
  top: 50%;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
#stickyRight #toolbox.open {
  height: 60vh;
  right: 850px;
}
#stickyRight #toolbox.open #notifications {
  opacity: 0;
}
#stickyRight #toolbox.open .notifications,
#stickyRight #toolbox.open .notificationPoint {
  opacity: 1 !important;
}
#stickyRight #contacterFormateur {
  -webkit-transition: right 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: right 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  /* easeOutQuart */
  cursor: pointer;
  position: relative;
  right: 0;
  height: 50px;
  width: 300px;
  background: #FFF;
  padding: 0;
  overflow: hidden;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 2px 0 rgba(1, 1, 1, 0.06);
  margin-bottom: 20px;
}
#stickyRight #contacterFormateur .title {
  background: #03A9F4;
  float: left;
  height: 50px;
  line-height: 50px;
  width: 100%;
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
}
#stickyRight #contacterFormateur .title img {
  margin-left: 13px;
  margin-right: 10px;
}
.contactformateur {
  color: #FFF;
  background: #03A9F4;
  float: right;
  display: block;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: bold;
  margin-top: -65px;
}
.contactformateur:hover {
  background: #14b4fc;
  text-decoration: none;
  color: #FFF;
}
.overlay {
  background: rgba(45, 51, 57, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px 15px;
  z-index: 499;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.miniStats {
  padding: 0;
  overflow: hidden;
}
.miniStats .graphs {
  background: #27AE60;
  padding: 30px;
  color: #FFF;
}
.miniStats .graphs strong {
  font-size: 16px;
  display: block;
  margin-bottom: 15px;
  line-height: 22px;
}
.miniStats .graphs strong .tempsacco {
  color: #0E6A35;
}
.miniStats .graphs strong .legend {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
  border-radius: 50%;
}
.miniStats .graphs strong .legend.tempsform {
  background: #FFF;
}
.miniStats .graphs strong .legend.tempsacco {
  background: #0E6A35;
}
.miniStats .graphs canvas {
  width: 100%;
  height: 150px;
}
.miniStats .stats {
  padding: 20px;
}
.miniStats .stats .bx-wrapper {
  position: relative;
}
.miniStats .stats .left {
  float: left;
  line-height: 25px;
}
.miniStats .stats .left .title {
  color: #AAB2BD;
  display: block;
  font-size: 13px;
  font-weight: bold;
}
.miniStats .stats .left .value {
  font-weight: bold;
  color: #424A50;
  font-size: 30px;
}
.miniStats .stats .right {
  float: right;
}
.miniStats .stats select {
  color: #FFF;
  height: 40px;
  width: 130px;
  border: none;
  background: #27AE60;
  font-size: 15px;
  font-weight: 700;
  top: 5px;
  position: relative;
}
.miniStats .stats .bx-prev,
.miniStats .stats .bx-next {
  background: url(../images/arrowsstats.png) no-repeat top left;
  height: 51px;
  width: 16px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -25px;
}
.miniStats .stats .bx-prev {
  left: -30px;
}
.miniStats .stats .bx-prev:hover {
  background-position: -32px 0;
}
.miniStats .stats .bx-next {
  right: -30px;
  background-position: -16px 0;
}
.miniStats .stats .bx-next:hover {
  background-position: -48px 0;
}
.miniStats .stats .sliderStats {
  float: left;
  width: 100%;
}
.miniStats .stats .sliderStats .stat {
  width: 100px;
  border-right: 1px solid #EBEEF2;
  text-align: center;
  float: left;
  padding: 5px 10px;
}
.miniStats .stats .sliderStats .stat .title {
  color: #AAB2BD;
  font-size: 14px;
  display: block;
  line-height: 15px;
}
.miniStats .stats .sliderStats .stat .value {
  color: #434A54;
  font-size: 18px;
  font-weight: 600;
  padding: 0 10px;
}
.miniStats .stats .sliderStats .stat .value.up,
.miniStats .stats .sliderStats .stat .value.down {
  background: url(../images/upstat.png) no-repeat center left;
  padding-left: 20px;
}
.miniStats .stats .sliderStats .stat .value.down {
  background-image: url(../images/downstat.png);
}
.side-historique {
  padding: 0;
  overflow: hidden;
  position: relative;
}
.side-historique:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 55px;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  bottom: 0;
  padding: 0;
  left: 0;
  box-sizing: initial;
}
.side-historique .title {
  background: #8344A3;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  float: left;
  width: 100%;
  padding: 15px 20px;
}
.side-historique .listHistorique {
  float: left;
  width: 100%;
  padding: 25px 15px;
  overflow: scroll;
  height: 350px;
  position: relative;
}
.side-historique .listHistorique .story {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.side-historique .listHistorique .story:last-child .story-icon:after {
  display: none;
}
.side-historique .listHistorique .story.message .story-title {
  color: #27AE60;
}
.side-historique .listHistorique .story.message .story-icon img {
  max-height: 100%;
  max-width: 100%;
  top: inherit;
  -webkit-transform: none;
          transform: none;
}
.side-historique .listHistorique .story:hover time {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.side-historique .listHistorique .left {
  float: left;
  width: 15%;
  text-align: center;
}
.side-historique .listHistorique .story-icon {
  border-radius: 50%;
  height: 36px;
  display: block;
  width: 36px;
  text-align: center;
  margin: auto;
  position: relative;
}
.side-historique .listHistorique .story-icon:after {
  height: 25px;
  width: 1px;
  background: #E5E8ED;
  content: "";
  display: block;
  position: absolute;
  bottom: -25px;
  left: 50%;
}
.side-historique .listHistorique .story-icon img {
  max-height: 21px;
  max-width: 21px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  vertical-align: inherit;
}
.side-historique .listHistorique .right {
  float: left;
  line-height: 19px;
  width: 85%;
  position: relative;
}
.side-historique .listHistorique .story-title {
  color: #424A50;
  font-size: 16px;
  display: block;
  font-weight: bold;
}
.side-historique .listHistorique time {
  color: #747C83;
  position: absolute;
  right: 0;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 24%, #ffffff 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 24%, #ffffff 100%);
  padding-left: 50px;
  box-sizing: initial;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.side-historique .listHistorique .story-tell {
  color: #747C83;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 20px;
  display: block;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 10px;
}
h1.title a {
  color: #B3BBC6;
  text-decoration: none;
}
h1.title a:hover {
  color: #424A50;
}
h1.title a:hover .goback {
  fill: #424A50;
}
h1.title .goback {
  -webkit-transition: fill 0.1s ease;
  transition: fill 0.1s ease;
  height: 20px;
  fill: #B3BBC6;
}
.containerBiblio.subjectForum .item {
  border: none;
}
.containerBiblio.subjectForum .item h2 {
  font-size: 32px;
  float: left;
  width: 100%;
  margin: 0;
  line-height: 30px;
}
.containerBiblio.subjectForum .item .tags {
  float: left;
  width: 100%;
  margin-top: 10px;
}
.containerBiblio.subjectForum .item .dateauthor {
  float: left;
  width: 100%;
  text-align: left;
  margin: 0px;
  margin-top: 10px;
}
.containerBiblio.subjectForum .item .dateauthor a {
  color: #424A50;
  font-weight: bold;
}
.containerBiblio.subjectForum .item.question {
  padding-top: 25px;
}
.containerBiblio.subjectForum .item.question .message {
  border-top: 1px solid #F0F2F5;
}
.containerBiblio.subjectForum .item .message {
  float: left;
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  padding-right: 200px;
}
.containerBiblio.subjectForum .item .avatarPost {
  height: 36px;
  width: 36px;
  overflow: hidden;
}
.containerBiblio.subjectForum .item .avatarPost img {
  max-height: 36px;
  max-width: 36px;
}
.containerBiblio.subjectForum .item.anwser {
  border-bottom: 1px solid #F0F2F5;
  margin-bottom: 10px;
}
.containerBiblio.subjectForum .item.anwser.last {
  border: none;
}
.containerBiblio.subjectForum .item.anwser .dateauthor {
  font-size: 21px;
  margin-top: 0px;
  line-height: 19px;
  color: #424A50;
}
.containerBiblio.subjectForum .item.anwser .dateauthor span {
  font-size: 13px;
  color: #747C83;
}
.containerBiblio.subjectForum .item.anwser .message {
  padding-top: 0;
}
.containerBiblio.subjectForum .item.selected {
  background: rgba(39, 174, 96, 0.1);
  border: 4px solid rgba(39, 174, 96, 0.15);
  border-radius: 5px;
}
.containerBiblio.subjectForum .item.selected .avatarPost {
  display: inline-block;
  background: #27AE60;
  padding: 2px;
  border-radius: 50%;
  box-sizing: content-box;
  position: relative;
  top: -6px;
}
.containerBiblio.subjectForum .item.selected .dateauthor {
  color: #27AE60;
}
.containerBiblio.subjectForum .item.selected .dateauthor a {
  color: #27AE60;
}
.containerBiblio.subjectForum .reponsesTitle {
  float: left;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 2px solid #F0F2F5;
  padding: 10px 105px;
  margin-bottom: 20px;
  color: #424A50;
}
.containerBiblio.subjectForum #postanswer {
  margin-bottom: 60px;
  float: left;
  width: 100%;
}
.containerBiblio.subjectForum #postanswer .right {
  float: right;
}
.containerBiblio.subjectForum #postanswer label[for="notifyMe"] {
  line-height: 26px;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-right: 20px;
  color: #747C83;
}
.center {
  text-align: center;
}
/** MODAL **/
.btn {
  border: none !important;
  padding: 9px 15px;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
}
.btn-default {
  color: #616161;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.ative {
  color: #616161 !important;
  background: #EFF1F5 !important;
}
.btn-default:hover:active,
.btn-default:hover.ative {
  color: #616161;
  background: #EFF1F5;
}
.btn-primary {
  background: #27AE60;
}
.btn-primary:hover {
  background: #2cc36b;
}
.btn-primary:hover.active,
.btn-primary:hover:active {
  background: #27AE60 !important;
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus {
  background: #27AE60 !important;
}
.modal-header {
  padding-top: 16px;
  border-bottom: 1px solid #EFF1F5;
  padding-bottom: 12px;
}
.modal-footer {
  border-top: 1px solid #EFF1F5;
}
.modal-body {
  padding: 20px 15px;
}
.modal-body,
.modal-header,
.modal-footer {
  padding-left: 30px;
  padding-right: 30px;
}
.modal {
  text-align: center;
}
.modal .close {
  color: #424A50;
  font-size: 37px;
}
.modal ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #747C83;
}
.modal :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #747C83;
  opacity: 1;
}
.modal ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #747C83;
  opacity: 1;
}
.modal :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #747C83;
}
.modal-backdrop {
  background: #2d3339;
}
.modal-backdrop.in {
  opacity: 0.7;
}
.modal-title {
  color: #424A50;
  font-weight: bold;
  font-size: 25px;
}
.modal-content {
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  border: none;
}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.form-control {
  border: 2px solid #EFF1F5;
  background: #EFF1F5;
  box-shadow: none;
  font-size: 15px;
  padding: 8px 15px;
  border-radius: 4px;
  height: 40px;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  color: #747C83;
}
.form-control:focus {
  background: #FFF;
  box-shadow: 0 3px 0px rgba(0, 0, 0, 0.05);
  border-color: #27AE60;
}
.form-group label {
  font-size: 17px;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  color: #747C83;
}
.form-group textarea {
  resize: vertical;
  min-height: 150px;
}
.text-info {
  background: #FCF3CF;
  color: #DCB51A;
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 15px;
}
.text-info i.glyphicon {
  position: relative;
  top: 2px;
}
/** END : MODAL **/
html,
body {
  height: 100%;
}
body.noScroll {
  overflow-y: hidden !important;
}
#statsFormation .icon {
  width: 48px;
}
#statsFormation .iconcontainer {
  padding-right: 0;
  width: 80px;
}
#statsFormation .content {
  padding-left: 0;
}
#statsFormation .content h2 {
  font-size: 20px;
  line-height: 18px;
  margin-top: 5px;
}
#statsFormation .content .logiciel {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 0;
}
#statsFormation #statsContainer {
  padding: 20px 25px;
  border-radius: 4px;
  width: 65%;
  float: left;
}
#statsFormation #statsContainer strong {
  font-size: 17px;
  margin-bottom: 15px;
  color: #FFF;
  float: left;
}
#statsFormation #statsContainer .mois {
  font-size: 15px;
  float: right;
  display: block;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
}
#statsFormation #statsContainer .mois span {
  float: left;
  width: 100px;
  text-align: center;
}
#statsFormation #statsContainer .mois a {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  padding: 0 5px;
  text-decoration: none;
}
#statsFormation #statsContainer .mois a:hover {
  color: #FFF;
}
#statsFormation #statsContainer .mois a.prev {
  float: left;
  margin-right: 8px;
}
#statsFormation #statsContainer .mois a.next {
  float: right;
  margin-left: 8px;
}
#statsFormation #donutContainer {
  float: right;
  width: 30%;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #CDD0D6;
  height: 235px;
  position: relative;
  padding-top: 12px;
}
#statsFormation #donutContainer strong {
  font-size: 17px;
  margin-top: 18px;
  line-height: 18px;
  display: block;
  color: #424A50;
}
#statsFormation #donutContainer .value {
  position: absolute;
  width: 100px;
  text-align: center;
  left: 50%;
  margin-left: -50px;
  font-size: 19px;
  font-weight: bold;
  top: 129px;
  color: #27AE60;
}
#statsFormation .levels {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
#statsFormation .levels strong {
  color: #424A50;
}
#statsFormation .levels .niveau .remplir {
  width: 100%;
  padding: 0;
  background: #EE8036;
  text-align: center;
}
.spacer {
  height: 30px;
  width: 100%;
  float: left;
  clear: both;
}
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 22px;
  width: 14px;
  height: 14px;
  border: 1px solid #AFB7BF;
  background: #FFF;
  border-radius: 999px;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  /* box-shadow: inset 0 1px 3px rgba(0,0,0,.3); */
}
[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  top: 25px;
  left: 3px;
  font-size: 14px;
  border-radius: 9999px;
  background: #27AE60;
  -webkit-transition: all .2s;
  transition: all .2s;
}
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label:before {
  border-color: #27AE60;
}
.moncompte [type="checkbox"]:not(:checked) + label:before,
.moncompte [type="checkbox"]:checked + label:before {
  top: 22px;
}
.moncompte [type="checkbox"]:not(:checked) + label:after,
.moncompte [type="checkbox"]:checked + label:after {
  top: 25px;
}
.moncompte .line {
  border-bottom: 1px solid #F0F2F5;
  clear: both;
  float: left;
  width: 100%;
}
.moncompte label {
  color: #424A50;
  font-size: 17px;
  font-weight: bold;
  line-height: 60px;
  margin: 0;
}
.moncompte .field {
  color: #747C83;
  font-size: 17px;
  line-height: 60px;
}
.moncompte .field label {
  color: #747C83;
  font-size: 17px;
  line-height: 60px;
  float: left;
  position: relative;
  padding-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  font-weight: normal;
}
.moncompte .uploader .avatars {
  display: none;
  line-height: 30px;
  position: absolute;
  z-index: 1;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(1, 1, 1, 0.06), 0 0px 10px rgba(1, 1, 1, 0.15);
  padding: 15px 15px 10px 15px;
  width: 300px;
  left: 65px;
  text-align: center;
}
.moncompte .uploader .avatars a {
  display: inline-block;
  margin: 0 5px;
  border-radius: 999px;
  border: 3px solid white;
}
.moncompte .uploader .avatars a:hover {
  box-shadow: 0 0 0 1px #D0D2D6;
}
.moncompte .uploader .avatars a.current {
  box-shadow: 0 0 0 2px #27AE60;
}
.moncompte .uploader .avatars a img {
  display: block;
}
.moncompte .uploader input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  cursor: pointer;
}
.moncompte .uploader .filename {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  line-height: 40px;
  font-size: 14px;
  color: #747C83;
}
.moncompte .uploader .button {
  border: 2px solid #DADCE0;
  border-radius: 4px;
  padding: 3px 10px;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.moncompte .uploader:hover .button {
  background: #27AE60;
  border-color: #27AE60;
  color: #FFF;
}
.moncompte input[type="text"],
.moncompte input[type="email"],
.moncompte input[type="password"],
.moncompte textarea {
  left: -7px;
  top: -1px;
  position: relative;
  width: 100%;
  vertical-align: middle;
  border: 2px solid #EFF1F5;
  background: #EFF1F5;
  box-shadow: none;
  font-size: 17px;
  padding: 0 5px;
  border-radius: 4px;
  height: 30px;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  color: #747C83;
  line-height: 1;
}
.moncompte input[type="text"]:focus,
.moncompte input[type="email"]:focus,
.moncompte input[type="password"]:focus,
.moncompte textarea:focus {
  background: #FFF;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  border-color: #27AE60;
}
.moncompte select {
  left: -7px;
  top: -1px;
  position: relative;
  border: 2px solid #EFF1F5;
  background: #EFF1F5;
  box-shadow: none;
  font-size: 17px;
  padding: 0 5px;
  border-radius: 4px;
  height: 30px;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  color: #747C83;
}
.moncompte select:focus {
  background: #FFF;
  box-shadow: 0 3px 0px rgba(0, 0, 0, 0.05);
  border-color: #27AE60;
}
.moncompte select[multiple] {
  height: auto;
  top: 0;
  margin: 15px 0 0;
  min-width: 150px;
  -webkit-appearance: none;
}
.moncompte select[multiple] option:checked {
  background: #27AE60;
  -webkit-appearance: none;
}
.moncompte #menumoncompte {
  padding: 0;
  margin: 0;
}
.moncompte #menumoncompte li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.moncompte #menumoncompte li a {
  font-size: 17px;
  color: #424A50;
  line-height: 60px;
  display: block;
  font-weight: 500;
  border-bottom: 1px solid #F0F2F5;
  text-decoration: none;
}
.moncompte #menumoncompte li a:hover {
  color: #27AE60;
}
.moncompte #menumoncompte li a.current {
  font-weight: bold;
  border-color: #27AE60;
  color: #27AE60;
}
